*{
	background-color: white;
}


.nam1{
	background-color: yellow;
}
.nam2{
	background-color: chartreuse;
}
.nam3{
	background-color: blue;
}
.nam4{
	background-color: coral;
}
.nam5{
	background-color: #F4f4;
}
