body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spin {
  width: 100pt;
  height: 100pt;
  background: blue;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.pause {
  animation-play-state: paused;
  background: red;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}